body { font-family: 'Dosis', sans-serif; background-color: #262324; }
.logo {font-size: 47px; font-weight: 700; color: #fcfcfc; text-transform: uppercase; letter-spacing: 12px; margin-top: 200px; 
	margin-left: 30px; }
.pipe {color: #4e484a;}
h2 { font-weight: 700; font-size: 13px; letter-spacing: 5px; }
.gold {color: #cbb677;}
#intro {display: block; position: relative; width: 100%; height: 606px; z-index: 1; overflow: hidden;}
.span3 {width: 170px; float: left; margin-left: 30px}
h4 {font-weight: 700; font-size: 11px; line-height: 1; color: #fcfcfc; text-transform: uppercase; letter-spacing: 5px; padding: 5px 0 10px;
	margin: 25px 10px 10px 0; border-bottom: 1px solid #fcfcfc; }
p, a { margin: 5px 0 15px; display: block; color: #fcfcfc; font-family: 'Source Code Pro', "Courier New", Courier, mono; font-size: 11px; 
	line-height: 20px }
#linkfix {margin-top: -10px;}
a:hover { color: #fcfcfc; }